<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> STAND BY MEME </title>
    <link rel="stylesheet" href="/stylesheet/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="import" href="https://raw-dot-custom-elements.appspot.com/Redbility/paper-carousel/1.2.5/paper-carousel/paper-carousel.html">


</head>

  <body>
    <div class = "college-home-content">
      <div class = "post_header">
        <a href="/" class = "post_header"><h1>STAND BY MEME</h1></a>
        <hr>
        <h5>{{college.name}}</h5>

        <img src="{{college.logo_url}}" style="height: 50px;"/>
        <hr>
        <nav>
          <a href="#" onclick="openNav()">VIEW COLLEGES</a>
        </nav>
      </div>
      <hr>

      <div class = "home-page">
        <div class = "homeword">
          <h3>TRENDING:</h3>
        </div>
        <div id = "post-container">
                <div class="container" style="width: 95%"; "margin: auto">
                    <article class="post_home">
                    <!-- <paper-carousel items="1" responsive="600:2, 460:1" controls="true" dots="true" dotText="false"> -->
                    <paper-carousel items="3" responsive="600:2, 460:1" controls="true" dots="true" dotText="false">
                      {% for post in posts %}
                  <a href="/post?key={{post.key.urlsafe()}}">
                      <img src="{{post.post_img_url}}" class="home_img" draggable="false">

                      </a>

                      {% endfor %}
                    </paper-carousel>
                    <!-- <h5>By: post.user</h5> -->
                  </article>
                </div>
        </div>
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <h3 class="collegeHeader" style="color:white; font-size: 35px">Colleges:</h3>
                  {% for college in colleges %}
                    <paper-item><a href="/college_home?key={{college.key.urlsafe()}}">{{college.name}}</a></p>
                  {% endfor %}
                    <a href="/add_college">+ Add a College</a>
                    <br>
        </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/scripts/photogram.js"></script>
<script src="/scripts/sidebar.js"></script>
