<link rel="stylesheet" href="/stylesheet/this_is_only_a_test.css">

<!-- <div class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="img1.jpg" style="width:100%">
    <div class="text">Caption Text</div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="img2.jpg" style="width:100%">
    <div class="text">Caption Two</div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="img3.jpg" style="width:100%">
    <div class="text">Caption Three</div>
  </div>
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br> -->



<div class="slideshow-container">
{% for post in posts %}
<div class="mySlides fade">
  <a href="/post?key={{post.key.urlsafe()}}"><img src="{{post.post_img_url}}" style="height:50%"></a>
  <div class="by_text">By: {{post.user}}</div>
</div>
{% endfor %}
<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>
<div style="text-align:center">
{% for i in range(0, post_count) %}
  <span class="dot" onclick="currentSlide({{i+1}})"></span>
{% endfor %}
</div>
<script src="/scripts/this_is_only_a_test.js"></script>

